:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.file-or-folder {
  padding: 8px;
  overflow: hidden;
}

.file-or-folder-icon {
  width: 50px;
  height: 50px;
  font-size: 50px;
}

.pointer {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
  transition: all ease-in-out .5s;

  &.active {
    background: rgba(0, 0, 0, .5);
  }

  .file-or-folder {
    div {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      > span {
        display: block;
        width: 80%;
        font-size: .8rem;
        word-break: break-word;
      }

      mat-icon {
        width: 100%;
      }
    }
  }
}
