<mat-form-field class="example-full-width">
  <input matInput #searchInput placeholder="Search" (input)="search(searchInput.value)">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<mat-toolbar>
  <mat-icon *ngIf="canNavigateUp" class="pointer" (click)="navigateUp()">
    arrow_back
  </mat-icon>
  <span style="margin-left: 8px"> {{path || 'Files'}} </span>
  <span class="spacer"></span>
  <mat-icon class="pointer" (click)="openNewFolderDialog()">
    create_new_folder
  </mat-icon>
</mat-toolbar>
<div class="container"
     appFileDrop
     (filesDropped)="handleDrop($event)"
     (filesHovered)="dropzoneState($event)"
     [ngClass]="{'active': dropzoneActive}">
  <div class="content">
    <mat-progress-spinner *ngIf="isLoading"></mat-progress-spinner>
    <mat-grid-list cols="6">
      <mat-grid-tile
        *ngFor="let element of fileElements "
        class="file-or-folder pointer"
      >
        <span
          [matMenuTriggerFor]="rootMenu"
          [matMenuTriggerData]="{element: element}"
          #menuTrigger="matMenuTrigger"
        >
        </span>
        <div (click)="navigate(element)"
             (contextmenu)="openMenu($event, element, menuTrigger)">
          <mat-icon
            color="primary"
            class="file-or-folder-icon "
            *ngIf="!element.uploadDate">
            folder
          </mat-icon>
          <mat-icon
            color="primary"
            class="file-or-folder-icon "
            *ngIf="element.uploadDate">
            insert_drive_file
          </mat-icon>
          <span>{{element.name}}</span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<mat-menu #rootMenu="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent let-element="element">
    <!--<button-->
    <!--mat-menu-item-->
    <!--[matMenuTriggerFor]="moveToMenu"-->
    <!--[matMenuTriggerData]="{self: element}"-->
    <!--&gt;-->
    <!--<mat-icon>open_with</mat-icon>-->
    <!--<span>Move To</span>-->
    <!--</button>-->
    <button *ngIf="element.uploadDate" mat-menu-item (click)="downloadDocument(element)">
      <mat-icon>download</mat-icon>
      <span>Download</span>
    </button>
    <button mat-menu-item (click)="openRenameDialog(element)">
      <mat-icon>edit</mat-icon>
      <span>Rename</span>
    </button>
    <button mat-menu-item (click)="deleteElement(element)">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>

<!--<mat-menu #moveToMenu="matMenu">-->
<!--<ng-template matMenuContent let-self="self">-->
<!--<ng-container *ngFor="let element of fileElements">-->
<!--<button-->
<!--*ngIf="element.isFolder && element.id !== self.id"-->
<!--mat-menu-item-->
<!--(click)="moveElement(self, element)"-->
<!--&gt;-->
<!--{{element.name}}-->
<!--</button>-->
<!--</ng-container>-->
<!--</ng-template>-->
<!--</mat-menu>-->
