<div style="padding: 100px; height: 100%; box-sizing: border-box;">
  <app-file-explorer
    (isLoading)="isLoading"
    [fileElements]="fileElements"
    [path]="currentPath"
    [canNavigateUp]="canNavigateUp"
    (folderAdded)="addFolder($event)"
    (searchValueChanged)="updateSearch($event)"
    (paginationChanged)="updatePagination($event)"
    (documentAdded)="addDocument($event)"
    (navigatedDown)="navigateToFolder($event)"
    (navigatedUp)="navigateUp()"
    (fileDownload)="downloadDocument($event)"
  >
  </app-file-explorer>
  <!--  <mat-paginator [length]="params.total"-->
  <!--                 [pageSize]="params.limit"-->
  <!--                 [hidePageSize]="true"-->
  <!--                 [pageIndex]="params.page"-->
  <!--                 (page)="updatePagination($event)">-->
  <!--  </mat-paginator>-->
</div>
